@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../public/Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../public/Fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../public/Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the bounce height */
  }
}

.animate-bounce-custom {
  animation-name: bounce-custom;
  animation-duration: 3s; /* Adjust the animation duration */
  animation-timing-function: cubic-bezier(
    -0.5,
    0,
    0,
    -0.5
  ); /* Adjust the timing function for slower bounce */
  animation-iteration-count: infinite;
}
